/*!
Fork Awesome 1.1.7
License - https://forkaweso.me/Fork-Awesome/license

Copyright 2018 Dave Gandy & Fork Awesome

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'ForkAwesome';
  src: url('../fonts/forkawesome-webfont.eot?v=1.1.7');
  src: url('../fonts/forkawesome-webfont.eot?#iefix&v=1.1.7') format('embedded-opentype'), url('../fonts/forkawesome-webfont.woff2?v=1.1.7') format('woff2'), url('../fonts/forkawesome-webfont.woff?v=1.1.7') format('woff'), url('../fonts/forkawesome-webfont.ttf?v=1.1.7') format('truetype'), url('../fonts/forkawesome-webfont.svg?v=1.1.7#forkawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.frka {
  display: inline-block;
  font: normal normal normal 14px/1 ForkAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.frka-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.frka-2x {
  font-size: 2em;
}
.frka-3x {
  font-size: 3em;
}
.frka-4x {
  font-size: 4em;
}
.frka-5x {
  font-size: 5em;
}
.frka-fw {
  width: 1.28571429em;
  text-align: center;
}
.frka-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.frka-ul > li {
  position: relative;
}
.frka-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.frka-li.frka-lg {
  left: -1.85714286em;
}
.frka-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}
.frka-pull-left {
  float: left;
}
.frka-pull-right {
  float: right;
}
.frka.frka-pull-left {
  margin-right: .3em;
}
.frka.frka-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.frka.pull-left {
  margin-right: .3em;
}
.frka.pull-right {
  margin-left: .3em;
}
.frka-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.frka-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.frka-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.frka-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.frka-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.frka-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.frka-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .frka-rotate-90,
:root .frka-rotate-180,
:root .frka-rotate-270,
:root .frka-flip-horizontal,
:root .frka-flip-vertical {
  filter: none;
}
.frka-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.frka-stack-1x,
.frka-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.frka-stack-1x {
  line-height: inherit;
}
.frka-stack-2x {
  font-size: 2em;
}
.frka-inverse {
  color: #fff;
}
/* Fork Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.frka-glass:before {
  content: "\f000";
}
.frka-music:before {
  content: "\f001";
}
.frka-search:before {
  content: "\f002";
}
.frka-envelope-o:before {
  content: "\f003";
}
.frka-heart:before {
  content: "\f004";
}
.frka-star:before {
  content: "\f005";
}
.frka-star-o:before {
  content: "\f006";
}
.frka-user:before {
  content: "\f007";
}
.frka-film:before {
  content: "\f008";
}
.frka-th-large:before {
  content: "\f009";
}
.frka-th:before {
  content: "\f00a";
}
.frka-th-list:before {
  content: "\f00b";
}
.frka-check:before {
  content: "\f00c";
}
.frka-remove:before,
.frka-close:before,
.frka-times:before {
  content: "\f00d";
}
.frka-search-plus:before {
  content: "\f00e";
}
.frka-search-minus:before {
  content: "\f010";
}
.frka-power-off:before {
  content: "\f011";
}
.frka-signal:before {
  content: "\f012";
}
.frka-gear:before,
.frka-cog:before {
  content: "\f013";
}
.frka-trash-o:before {
  content: "\f014";
}
.frka-home:before {
  content: "\f015";
}
.frka-file-o:before {
  content: "\f016";
}
.frka-clock-o:before {
  content: "\f017";
}
.frka-road:before {
  content: "\f018";
}
.frka-download:before {
  content: "\f019";
}
.frka-arrow-circle-o-down:before {
  content: "\f01a";
}
.frka-arrow-circle-o-up:before {
  content: "\f01b";
}
.frka-inbox:before {
  content: "\f01c";
}
.frka-play-circle-o:before {
  content: "\f01d";
}
.frka-rotate-right:before,
.frka-repeat:before {
  content: "\f01e";
}
.frka-sync:before,
.frka-refresh:before {
  content: "\f021";
}
.frka-list-alt:before {
  content: "\f022";
}
.frka-lock:before {
  content: "\f023";
}
.frka-flag:before {
  content: "\f024";
}
.frka-headphones:before {
  content: "\f025";
}
.frka-volume-off:before {
  content: "\f026";
}
.frka-volume-down:before {
  content: "\f027";
}
.frka-volume-up:before {
  content: "\f028";
}
.frka-qrcode:before {
  content: "\f029";
}
.frka-barcode:before {
  content: "\f02a";
}
.frka-tag:before {
  content: "\f02b";
}
.frka-tags:before {
  content: "\f02c";
}
.frka-book:before {
  content: "\f02d";
}
.frka-bookmark:before {
  content: "\f02e";
}
.frka-print:before {
  content: "\f02f";
}
.frka-camera:before {
  content: "\f030";
}
.frka-font:before {
  content: "\f031";
}
.frka-bold:before {
  content: "\f032";
}
.frka-italic:before {
  content: "\f033";
}
.frka-text-height:before {
  content: "\f034";
}
.frka-text-width:before {
  content: "\f035";
}
.frka-align-left:before {
  content: "\f036";
}
.frka-align-center:before {
  content: "\f037";
}
.frka-align-right:before {
  content: "\f038";
}
.frka-align-justify:before {
  content: "\f039";
}
.frka-list:before {
  content: "\f03a";
}
.frka-dedent:before,
.frka-outdent:before {
  content: "\f03b";
}
.frka-indent:before {
  content: "\f03c";
}
.frka-video:before,
.frka-video-camera:before {
  content: "\f03d";
}
.frka-photo:before,
.frka-image:before,
.frka-picture-o:before {
  content: "\f03e";
}
.frka-pencil:before {
  content: "\f040";
}
.frka-map-marker:before {
  content: "\f041";
}
.frka-adjust:before {
  content: "\f042";
}
.frka-tint:before {
  content: "\f043";
}
.frka-edit:before,
.frka-pencil-square-o:before {
  content: "\f044";
}
.frka-share-square-o:before {
  content: "\f045";
}
.frka-check-square-o:before {
  content: "\f046";
}
.frka-arrows:before {
  content: "\f047";
}
.frka-step-backward:before {
  content: "\f048";
}
.frka-fast-backward:before {
  content: "\f049";
}
.frka-backward:before {
  content: "\f04a";
}
.frka-play:before {
  content: "\f04b";
}
.frka-pause:before {
  content: "\f04c";
}
.frka-stop:before {
  content: "\f04d";
}
.frka-forward:before {
  content: "\f04e";
}
.frka-fast-forward:before {
  content: "\f050";
}
.frka-step-forward:before {
  content: "\f051";
}
.frka-eject:before {
  content: "\f052";
}
.frka-chevron-left:before {
  content: "\f053";
}
.frka-chevron-right:before {
  content: "\f054";
}
.frka-plus-circle:before {
  content: "\f055";
}
.frka-minus-circle:before {
  content: "\f056";
}
.frka-times-circle:before {
  content: "\f057";
}
.frka-check-circle:before {
  content: "\f058";
}
.frka-question-circle:before {
  content: "\f059";
}
.frka-info-circle:before {
  content: "\f05a";
}
.frka-crosshairs:before {
  content: "\f05b";
}
.frka-times-circle-o:before {
  content: "\f05c";
}
.frka-check-circle-o:before {
  content: "\f05d";
}
.frka-ban:before {
  content: "\f05e";
}
.frka-arrow-left:before {
  content: "\f060";
}
.frka-arrow-right:before {
  content: "\f061";
}
.frka-arrow-up:before {
  content: "\f062";
}
.frka-arrow-down:before {
  content: "\f063";
}
.frka-mail-forward:before,
.frka-share:before {
  content: "\f064";
}
.frka-expand:before {
  content: "\f065";
}
.frka-compress:before {
  content: "\f066";
}
.frka-plus:before {
  content: "\f067";
}
.frka-minus:before {
  content: "\f068";
}
.frka-asterisk:before {
  content: "\f069";
}
.frka-exclamation-circle:before {
  content: "\f06a";
}
.frka-gift:before {
  content: "\f06b";
}
.frka-leaf:before {
  content: "\f06c";
}
.frka-fire:before {
  content: "\f06d";
}
.frka-eye:before {
  content: "\f06e";
}
.frka-eye-slash:before {
  content: "\f070";
}
.frka-warning:before,
.frka-exclamation-triangle:before {
  content: "\f071";
}
.frka-plane:before {
  content: "\f072";
}
.frka-calendar:before {
  content: "\f073";
}
.frka-random:before {
  content: "\f074";
}
.frka-comment:before {
  content: "\f075";
}
.frka-magnet:before {
  content: "\f076";
}
.frka-chevron-up:before {
  content: "\f077";
}
.frka-chevron-down:before {
  content: "\f078";
}
.frka-retweet:before {
  content: "\f079";
}
.frka-shopping-cart:before {
  content: "\f07a";
}
.frka-folder:before {
  content: "\f07b";
}
.frka-folder-open:before {
  content: "\f07c";
}
.frka-arrows-v:before {
  content: "\f07d";
}
.frka-arrows-h:before {
  content: "\f07e";
}
.frka-bar-chart-o:before,
.frka-bar-chart:before {
  content: "\f080";
}
.frka-twitter-square:before {
  content: "\f081";
}
.frka-facebook-square:before {
  content: "\f082";
}
.frka-camera-retro:before {
  content: "\f083";
}
.frka-key:before {
  content: "\f084";
}
.frka-gears:before,
.frka-cogs:before {
  content: "\f085";
}
.frka-comments:before {
  content: "\f086";
}
.frka-thumbs-o-up:before {
  content: "\f087";
}
.frka-thumbs-o-down:before {
  content: "\f088";
}
.frka-star-half:before {
  content: "\f089";
}
.frka-heart-o:before {
  content: "\f08a";
}
.frka-sign-out:before {
  content: "\f08b";
}
.frka-linkedin-square:before {
  content: "\f08c";
}
.frka-thumb-tack:before {
  content: "\f08d";
}
.frka-external-link:before {
  content: "\f08e";
}
.frka-sign-in:before {
  content: "\f090";
}
.frka-trophy:before {
  content: "\f091";
}
.frka-github-square:before {
  content: "\f092";
}
.frka-upload:before {
  content: "\f093";
}
.frka-lemon-o:before {
  content: "\f094";
}
.frka-phone:before {
  content: "\f095";
}
.frka-square-o:before {
  content: "\f096";
}
.frka-bookmark-o:before {
  content: "\f097";
}
.frka-phone-square:before {
  content: "\f098";
}
.frka-twitter:before {
  content: "\f099";
}
.frka-facebook-f:before,
.frka-facebook:before {
  content: "\f09a";
}
.frka-github:before {
  content: "\f09b";
}
.frka-unlock:before {
  content: "\f09c";
}
.frka-credit-card:before {
  content: "\f09d";
}
.frka-feed:before,
.frka-rss:before {
  content: "\f09e";
}
.frka-hdd-o:before {
  content: "\f0a0";
}
.frka-bullhorn:before {
  content: "\f0a1";
}
.frka-bell-o:before {
  content: "\f0f3";
}
.frka-certificate:before {
  content: "\f0a3";
}
.frka-hand-o-right:before {
  content: "\f0a4";
}
.frka-hand-o-left:before {
  content: "\f0a5";
}
.frka-hand-o-up:before {
  content: "\f0a6";
}
.frka-hand-o-down:before {
  content: "\f0a7";
}
.frka-arrow-circle-left:before {
  content: "\f0a8";
}
.frka-arrow-circle-right:before {
  content: "\f0a9";
}
.frka-arrow-circle-up:before {
  content: "\f0aa";
}
.frka-arrow-circle-down:before {
  content: "\f0ab";
}
.frka-globe:before {
  content: "\f0ac";
}
.frka-globe-e:before {
  content: "\f304";
}
.frka-globe-w:before {
  content: "\f305";
}
.frka-wrench:before {
  content: "\f0ad";
}
.frka-tasks:before {
  content: "\f0ae";
}
.frka-filter:before {
  content: "\f0b0";
}
.frka-briefcase:before {
  content: "\f0b1";
}
.frka-arrows-alt:before {
  content: "\f0b2";
}
.frka-community:before,
.frka-group:before,
.frka-users:before {
  content: "\f0c0";
}
.frka-chain:before,
.frka-link:before {
  content: "\f0c1";
}
.frka-cloud:before {
  content: "\f0c2";
}
.frka-flask:before {
  content: "\f0c3";
}
.frka-cut:before,
.frka-scissors:before {
  content: "\f0c4";
}
.frka-copy:before,
.frka-files-o:before {
  content: "\f0c5";
}
.frka-paperclip:before {
  content: "\f0c6";
}
.frka-save:before,
.frka-floppy-o:before {
  content: "\f0c7";
}
.frka-square:before {
  content: "\f0c8";
}
.frka-navicon:before,
.frka-reorder:before,
.frka-bars:before {
  content: "\f0c9";
}
.frka-list-ul:before {
  content: "\f0ca";
}
.frka-list-ol:before {
  content: "\f0cb";
}
.frka-strikethrough:before {
  content: "\f0cc";
}
.frka-underline:before {
  content: "\f0cd";
}
.frka-table:before {
  content: "\f0ce";
}
.frka-magic:before {
  content: "\f0d0";
}
.frka-truck:before {
  content: "\f0d1";
}
.frka-pinterest:before {
  content: "\f0d2";
}
.frka-pinterest-square:before {
  content: "\f0d3";
}
.frka-google-plus-square:before {
  content: "\f0d4";
}
.frka-google-plus-g:before,
.frka-google-plus:before {
  content: "\f0d5";
}
.frka-money:before {
  content: "\f0d6";
}
.frka-caret-down:before {
  content: "\f0d7";
}
.frka-caret-up:before {
  content: "\f0d8";
}
.frka-caret-left:before {
  content: "\f0d9";
}
.frka-caret-right:before {
  content: "\f0da";
}
.frka-columns:before {
  content: "\f0db";
}
.frka-unsorted:before,
.frka-sort:before {
  content: "\f0dc";
}
.frka-sort-down:before,
.frka-sort-desc:before {
  content: "\f0dd";
}
.frka-sort-up:before,
.frka-sort-asc:before {
  content: "\f0de";
}
.frka-envelope:before {
  content: "\f0e0";
}
.frka-linkedin:before {
  content: "\f0e1";
}
.frka-rotate-left:before,
.frka-undo:before {
  content: "\f0e2";
}
.frka-legal:before,
.frka-gavel:before {
  content: "\f0e3";
}
.frka-dashboard:before,
.frka-tachometer:before {
  content: "\f0e4";
}
.frka-comment-o:before {
  content: "\f0e5";
}
.frka-comments-o:before {
  content: "\f0e6";
}
.frka-flash:before,
.frka-bolt:before {
  content: "\f0e7";
}
.frka-sitemap:before {
  content: "\f0e8";
}
.frka-umbrella:before {
  content: "\f0e9";
}
.frka-paste:before,
.frka-clipboard:before {
  content: "\f0ea";
}
.frka-lightbulb-o:before {
  content: "\f0eb";
}
.frka-exchange:before {
  content: "\f0ec";
}
.frka-cloud-download:before {
  content: "\f0ed";
}
.frka-cloud-upload:before {
  content: "\f0ee";
}
.frka-user-md:before {
  content: "\f0f0";
}
.frka-stethoscope:before {
  content: "\f0f1";
}
.frka-suitcase:before {
  content: "\f0f2";
}
.frka-bell:before {
  content: "\f0a2";
}
.frka-coffee:before {
  content: "\f0f4";
}
.frka-utensils:before,
.frka-cutlery:before {
  content: "\f0f5";
}
.frka-file-text-o:before {
  content: "\f0f6";
}
.frka-building-o:before {
  content: "\f0f7";
}
.frka-hospital-o:before {
  content: "\f0f8";
}
.frka-ambulance:before {
  content: "\f0f9";
}
.frka-medkit:before {
  content: "\f0fa";
}
.frka-fighter-jet:before {
  content: "\f0fb";
}
.frka-beer:before {
  content: "\f0fc";
}
.frka-h-square:before {
  content: "\f0fd";
}
.frka-plus-square:before {
  content: "\f0fe";
}
.frka-angle-double-left:before {
  content: "\f100";
}
.frka-angle-double-right:before {
  content: "\f101";
}
.frka-angle-double-up:before {
  content: "\f102";
}
.frka-angle-double-down:before {
  content: "\f103";
}
.frka-angle-left:before {
  content: "\f104";
}
.frka-angle-right:before {
  content: "\f105";
}
.frka-angle-up:before {
  content: "\f106";
}
.frka-angle-down:before {
  content: "\f107";
}
.frka-desktop:before {
  content: "\f108";
}
.frka-laptop:before {
  content: "\f109";
}
.frka-tablet:before {
  content: "\f10a";
}
.frka-mobile-phone:before,
.frka-mobile:before {
  content: "\f10b";
}
.frka-circle-o:before {
  content: "\f10c";
}
.frka-quote-left:before {
  content: "\f10d";
}
.frka-quote-right:before {
  content: "\f10e";
}
.frka-spinner:before {
  content: "\f110";
}
.frka-circle:before {
  content: "\f111";
}
.frka-mail-reply:before,
.frka-reply:before {
  content: "\f112";
}
.frka-github-alt:before {
  content: "\f113";
}
.frka-folder-o:before {
  content: "\f114";
}
.frka-folder-open-o:before {
  content: "\f115";
}
.frka-smile-o:before {
  content: "\f118";
}
.frka-frown-o:before {
  content: "\f119";
}
.frka-meh-o:before {
  content: "\f11a";
}
.frka-gamepad:before {
  content: "\f11b";
}
.frka-keyboard-o:before {
  content: "\f11c";
}
.frka-flag-o:before {
  content: "\f11d";
}
.frka-flag-checkered:before {
  content: "\f11e";
}
.frka-terminal:before {
  content: "\f120";
}
.frka-code:before {
  content: "\f121";
}
.frka-mail-reply-all:before,
.frka-reply-all:before {
  content: "\f122";
}
.frka-star-half-empty:before,
.frka-star-half-full:before,
.frka-star-half-o:before {
  content: "\f123";
}
.frka-location-arrow:before {
  content: "\f124";
}
.frka-crop:before {
  content: "\f125";
}
.frka-code-fork:before {
  content: "\f126";
}
.frka-unlink:before,
.frka-chain-broken:before {
  content: "\f127";
}
.frka-question:before {
  content: "\f128";
}
.frka-info:before {
  content: "\f129";
}
.frka-exclamation:before {
  content: "\f12a";
}
.frka-superscript:before {
  content: "\f12b";
}
.frka-subscript:before {
  content: "\f12c";
}
.frka-eraser:before {
  content: "\f12d";
}
.frka-puzzle-piece:before {
  content: "\f12e";
}
.frka-microphone:before {
  content: "\f130";
}
.frka-microphone-slash:before {
  content: "\f131";
}
.frka-shield:before {
  content: "\f132";
}
.frka-calendar-o:before {
  content: "\f133";
}
.frka-fire-extinguisher:before {
  content: "\f134";
}
.frka-rocket:before {
  content: "\f135";
}
.frka-maxcdn:before {
  content: "\f136";
}
.frka-chevron-circle-left:before {
  content: "\f137";
}
.frka-chevron-circle-right:before {
  content: "\f138";
}
.frka-chevron-circle-up:before {
  content: "\f139";
}
.frka-chevron-circle-down:before {
  content: "\f13a";
}
.frka-html5:before {
  content: "\f13b";
}
.frka-css3:before {
  content: "\f13c";
}
.frka-anchor:before {
  content: "\f13d";
}
.frka-unlock-alt:before {
  content: "\f13e";
}
.frka-bullseye:before {
  content: "\f140";
}
.frka-ellipsis-h:before {
  content: "\f141";
}
.frka-ellipsis-v:before {
  content: "\f142";
}
.frka-rss-square:before {
  content: "\f143";
}
.frka-play-circle:before {
  content: "\f144";
}
.frka-ticket:before {
  content: "\f145";
}
.frka-minus-square:before {
  content: "\f146";
}
.frka-minus-square-o:before {
  content: "\f147";
}
.frka-level-up:before {
  content: "\f148";
}
.frka-level-down:before {
  content: "\f149";
}
.frka-check-square:before {
  content: "\f14a";
}
.frka-pencil-square:before {
  content: "\f14b";
}
.frka-external-link-square:before {
  content: "\f14c";
}
.frka-share-square:before {
  content: "\f14d";
}
.frka-compass:before {
  content: "\f14e";
}
.frka-toggle-down:before,
.frka-caret-square-o-down:before {
  content: "\f150";
}
.frka-toggle-up:before,
.frka-caret-square-o-up:before {
  content: "\f151";
}
.frka-toggle-right:before,
.frka-caret-square-o-right:before {
  content: "\f152";
}
.frka-euro:before,
.frka-eur:before {
  content: "\f153";
}
.frka-pound:before,
.frka-gbp:before {
  content: "\f154";
}
.frka-dollar:before,
.frka-usd:before {
  content: "\f155";
}
.frka-rupee:before,
.frka-inr:before {
  content: "\f156";
}
.frka-cny:before,
.frka-rmb:before,
.frka-yen:before,
.frka-jpy:before {
  content: "\f157";
}
.frka-ruble:before,
.frka-rouble:before,
.frka-rub:before {
  content: "\f158";
}
.frka-won:before,
.frka-krw:before {
  content: "\f159";
}
.frka-bitcoin:before,
.frka-btc:before {
  content: "\f15a";
}
.frka-file:before {
  content: "\f15b";
}
.frka-file-text:before {
  content: "\f15c";
}
.frka-sort-alpha-down:before,
.frka-sort-alpha-asc:before {
  content: "\f15d";
}
.frka-sort-alpha-up:before,
.frka-sort-alpha-desc:before {
  content: "\f15e";
}
.frka-sort-amount-down:before,
.frka-sort-amount-asc:before {
  content: "\f160";
}
.frka-sort-amount-up:before,
.frka-sort-amount-desc:before {
  content: "\f161";
}
.frka-sort-numeric-down:before,
.frka-sort-numeric-asc:before {
  content: "\f162";
}
.frka-sort-numeric-up:before,
.frka-sort-numeric-desc:before {
  content: "\f163";
}
.frka-thumbs-up:before {
  content: "\f164";
}
.frka-thumbs-down:before {
  content: "\f165";
}
.frka-youtube-square:before {
  content: "\f166";
}
.frka-youtube:before {
  content: "\f167";
}
.frka-xing:before {
  content: "\f168";
}
.frka-xing-square:before {
  content: "\f169";
}
.frka-youtube-play:before {
  content: "\f16a";
}
.frka-dropbox:before {
  content: "\f16b";
}
.frka-stack-overflow:before {
  content: "\f16c";
}
.frka-instagram:before {
  content: "\f16d";
}
.frka-flickr:before {
  content: "\f16e";
}
.frka-adn:before {
  content: "\f170";
}
.frka-bitbucket:before {
  content: "\f171";
}
.frka-bitbucket-square:before {
  content: "\f172";
}
.frka-tumblr:before {
  content: "\f173";
}
.frka-tumblr-square:before {
  content: "\f174";
}
.frka-long-arrow-down:before {
  content: "\f175";
}
.frka-long-arrow-up:before {
  content: "\f176";
}
.frka-long-arrow-left:before {
  content: "\f177";
}
.frka-long-arrow-right:before {
  content: "\f178";
}
.frka-apple:before {
  content: "\f179";
}
.frka-windows:before {
  content: "\f17a";
}
.frka-android:before {
  content: "\f17b";
}
.frka-linux:before {
  content: "\f17c";
}
.frka-dribbble:before {
  content: "\f17d";
}
.frka-skype:before {
  content: "\f17e";
}
.frka-foursquare:before {
  content: "\f180";
}
.frka-trello:before {
  content: "\f181";
}
.frka-female:before {
  content: "\f182";
}
.frka-male:before {
  content: "\f183";
}
.frka-gittip:before,
.frka-gratipay:before {
  content: "\f184";
}
.frka-sun-o:before {
  content: "\f185";
}
.frka-moon-o:before {
  content: "\f186";
}
.frka-archive:before {
  content: "\f187";
}
.frka-bug:before {
  content: "\f188";
}
.frka-vk:before {
  content: "\f189";
}
.frka-weibo:before {
  content: "\f18a";
}
.frka-renren:before {
  content: "\f18b";
}
.frka-pagelines:before {
  content: "\f18c";
}
.frka-stack-exchange:before {
  content: "\f18d";
}
.frka-arrow-circle-o-right:before {
  content: "\f18e";
}
.frka-arrow-circle-o-left:before {
  content: "\f190";
}
.frka-toggle-left:before,
.frka-caret-square-o-left:before {
  content: "\f191";
}
.frka-dot-circle-o:before {
  content: "\f192";
}
.frka-wheelchair:before {
  content: "\f193";
}
.frka-vimeo-square:before {
  content: "\f194";
}
.frka-turkish-lira:before,
.frka-try:before {
  content: "\f195";
}
.frka-plus-square-o:before {
  content: "\f196";
}
.frka-space-shuttle:before {
  content: "\f197";
}
.frka-slack:before {
  content: "\f198";
}
.frka-envelope-square:before {
  content: "\f199";
}
.frka-wordpress:before {
  content: "\f19a";
}
.frka-openid:before {
  content: "\f19b";
}
.frka-institution:before,
.frka-bank:before,
.frka-university:before {
  content: "\f19c";
}
.frka-mortar-board:before,
.frka-graduation-cap:before {
  content: "\f19d";
}
.frka-yahoo:before {
  content: "\f19e";
}
.frka-google:before {
  content: "\f1a0";
}
.frka-reddit:before {
  content: "\f1a1";
}
.frka-reddit-square:before {
  content: "\f1a2";
}
.frka-stumbleupon-circle:before {
  content: "\f1a3";
}
.frka-stumbleupon:before {
  content: "\f1a4";
}
.frka-delicious:before {
  content: "\f1a5";
}
.frka-digg:before {
  content: "\f1a6";
}
.frka-drupal:before {
  content: "\f1a9";
}
.frka-joomla:before {
  content: "\f1aa";
}
.frka-language:before {
  content: "\f1ab";
}
.frka-fax:before {
  content: "\f1ac";
}
.frka-building:before {
  content: "\f1ad";
}
.frka-child:before {
  content: "\f1ae";
}
.frka-paw:before {
  content: "\f1b0";
}
.frka-utensil-spoon:before,
.frka-spoon:before {
  content: "\f1b1";
}
.frka-cube:before {
  content: "\f1b2";
}
.frka-cubes:before {
  content: "\f1b3";
}
.frka-behance:before {
  content: "\f1b4";
}
.frka-behance-square:before {
  content: "\f1b5";
}
.frka-steam:before {
  content: "\f1b6";
}
.frka-steam-square:before {
  content: "\f1b7";
}
.frka-recycle:before {
  content: "\f1b8";
}
.frka-automobile:before,
.frka-car:before {
  content: "\f1b9";
}
.frka-cab:before,
.frka-taxi:before {
  content: "\f1ba";
}
.frka-tree:before {
  content: "\f1bb";
}
.frka-spotify:before {
  content: "\f1bc";
}
.frka-deviantart:before {
  content: "\f1bd";
}
.frka-soundcloud:before {
  content: "\f1be";
}
.frka-database:before {
  content: "\f1c0";
}
.frka-file-pdf-o:before {
  content: "\f1c1";
}
.frka-file-word-o:before {
  content: "\f1c2";
}
.frka-file-excel-o:before {
  content: "\f1c3";
}
.frka-file-powerpoint-o:before {
  content: "\f1c4";
}
.frka-file-photo-o:before,
.frka-file-picture-o:before,
.frka-file-image-o:before {
  content: "\f1c5";
}
.frka-file-zip-o:before,
.frka-file-archive-o:before {
  content: "\f1c6";
}
.frka-file-sound-o:before,
.frka-file-audio-o:before {
  content: "\f1c7";
}
.frka-file-movie-o:before,
.frka-file-video-o:before {
  content: "\f1c8";
}
.frka-file-code-o:before {
  content: "\f1c9";
}
.frka-vine:before {
  content: "\f1ca";
}
.frka-codepen:before {
  content: "\f1cb";
}
.frka-jsfiddle:before {
  content: "\f1cc";
}
.frka-life-bouy:before,
.frka-life-buoy:before,
.frka-life-saver:before,
.frka-support:before,
.frka-life-ring:before {
  content: "\f1cd";
}
.frka-circle-o-notch:before {
  content: "\f1ce";
}
.frka-ra:before,
.frka-resistance:before,
.frka-rebel:before {
  content: "\f1d0";
}
.frka-ge:before,
.frka-empire:before {
  content: "\f1d1";
}
.frka-git-square:before {
  content: "\f1d2";
}
.frka-git:before {
  content: "\f1d3";
}
.frka-y-combinator-square:before,
.frka-yc-square:before,
.frka-hacker-news:before {
  content: "\f1d4";
}
.frka-tencent-weibo:before {
  content: "\f1d5";
}
.frka-qq:before {
  content: "\f1d6";
}
.frka-wechat:before,
.frka-weixin:before {
  content: "\f1d7";
}
.frka-send:before,
.frka-paper-plane:before {
  content: "\f1d8";
}
.frka-send-o:before,
.frka-paper-plane-o:before {
  content: "\f1d9";
}
.frka-history:before {
  content: "\f1da";
}
.frka-circle-thin:before {
  content: "\f1db";
}
.frka-heading:before,
.frka-header:before {
  content: "\f1dc";
}
.frka-paragraph:before {
  content: "\f1dd";
}
.frka-sliders:before {
  content: "\f1de";
}
.frka-share-alt:before {
  content: "\f1e0";
}
.frka-share-alt-square:before {
  content: "\f1e1";
}
.frka-bomb:before {
  content: "\f1e2";
}
.frka-soccer-ball-o:before,
.frka-futbol-o:before {
  content: "\f1e3";
}
.frka-tty:before {
  content: "\f1e4";
}
.frka-binoculars:before {
  content: "\f1e5";
}
.frka-plug:before {
  content: "\f1e6";
}
.frka-slideshare:before {
  content: "\f1e7";
}
.frka-twitch:before {
  content: "\f1e8";
}
.frka-yelp:before {
  content: "\f1e9";
}
.frka-newspaper-o:before {
  content: "\f1ea";
}
.frka-wifi:before {
  content: "\f1eb";
}
.frka-calculator:before {
  content: "\f1ec";
}
.frka-paypal:before {
  content: "\f1ed";
}
.frka-google-wallet:before {
  content: "\f1ee";
}
.frka-cc-visa:before {
  content: "\f1f0";
}
.frka-cc-mastercard:before {
  content: "\f1f1";
}
.frka-cc-discover:before {
  content: "\f1f2";
}
.frka-cc-amex:before {
  content: "\f1f3";
}
.frka-cc-paypal:before {
  content: "\f1f4";
}
.frka-cc-stripe:before {
  content: "\f1f5";
}
.frka-bell-slash:before {
  content: "\f1f6";
}
.frka-bell-slash-o:before {
  content: "\f1f7";
}
.frka-trash:before {
  content: "\f1f8";
}
.frka-copyright:before {
  content: "\f1f9";
}
.frka-at:before {
  content: "\f1fa";
}
.frka-eyedropper:before {
  content: "\f1fb";
}
.frka-paint-brush:before {
  content: "\f1fc";
}
.frka-birthday-cake:before {
  content: "\f1fd";
}
.frka-area-chart:before {
  content: "\f1fe";
}
.frka-pie-chart:before {
  content: "\f200";
}
.frka-line-chart:before {
  content: "\f201";
}
.frka-lastfm:before {
  content: "\f202";
}
.frka-lastfm-square:before {
  content: "\f203";
}
.frka-toggle-off:before {
  content: "\f204";
}
.frka-toggle-on:before {
  content: "\f205";
}
.frka-bicycle:before {
  content: "\f206";
}
.frka-bus:before {
  content: "\f207";
}
.frka-ioxhost:before {
  content: "\f208";
}
.frka-angellist:before {
  content: "\f209";
}
.frka-closed-captioning:before,
.frka-cc:before {
  content: "\f20a";
}
.frka-shekel:before,
.frka-sheqel:before,
.frka-ils:before {
  content: "\f20b";
}
.frka-meanpath:before {
  content: "\f20c";
}
.frka-buysellads:before {
  content: "\f20d";
}
.frka-connectdevelop:before {
  content: "\f20e";
}
.frka-dashcube:before {
  content: "\f210";
}
.frka-forumbee:before {
  content: "\f211";
}
.frka-leanpub:before {
  content: "\f212";
}
.frka-sellsy:before {
  content: "\f213";
}
.frka-shirtsinbulk:before {
  content: "\f214";
}
.frka-simplybuilt:before {
  content: "\f215";
}
.frka-skyatlas:before {
  content: "\f216";
}
.frka-cart-plus:before {
  content: "\f217";
}
.frka-cart-arrow-down:before {
  content: "\f218";
}
.frka-gem:before,
.frka-diamond:before {
  content: "\f219";
}
.frka-ship:before {
  content: "\f21a";
}
.frka-user-secret:before {
  content: "\f21b";
}
.frka-motorcycle:before {
  content: "\f21c";
}
.frka-street-view:before {
  content: "\f21d";
}
.frka-heartbeat:before {
  content: "\f21e";
}
.frka-venus:before {
  content: "\f221";
}
.frka-mars:before {
  content: "\f222";
}
.frka-mercury:before {
  content: "\f223";
}
.frka-intersex:before,
.frka-transgender:before {
  content: "\f224";
}
.frka-transgender-alt:before {
  content: "\f225";
}
.frka-venus-double:before {
  content: "\f226";
}
.frka-mars-double:before {
  content: "\f227";
}
.frka-venus-mars:before {
  content: "\f228";
}
.frka-mars-stroke:before {
  content: "\f229";
}
.frka-mars-stroke-v:before {
  content: "\f22a";
}
.frka-mars-stroke-h:before {
  content: "\f22b";
}
.frka-neuter:before {
  content: "\f22c";
}
.frka-genderless:before {
  content: "\f22d";
}
.frka-facebook-official:before {
  content: "\f230";
}
.frka-pinterest-p:before {
  content: "\f231";
}
.frka-whatsapp:before {
  content: "\f232";
}
.frka-server:before {
  content: "\f233";
}
.frka-user-plus:before {
  content: "\f234";
}
.frka-user-times:before {
  content: "\f235";
}
.frka-hotel:before,
.frka-bed:before {
  content: "\f236";
}
.frka-viacoin:before {
  content: "\f237";
}
.frka-train:before {
  content: "\f238";
}
.frka-subway:before {
  content: "\f239";
}
.frka-medium:before {
  content: "\f23a";
}
.frka-medium-square:before {
  content: "\f2f8";
}
.frka-yc:before,
.frka-y-combinator:before {
  content: "\f23b";
}
.frka-optin-monster:before {
  content: "\f23c";
}
.frka-opencart:before {
  content: "\f23d";
}
.frka-expeditedssl:before {
  content: "\f23e";
}
.frka-battery-4:before,
.frka-battery:before,
.frka-battery-full:before {
  content: "\f240";
}
.frka-battery-3:before,
.frka-battery-three-quarters:before {
  content: "\f241";
}
.frka-battery-2:before,
.frka-battery-half:before {
  content: "\f242";
}
.frka-battery-1:before,
.frka-battery-quarter:before {
  content: "\f243";
}
.frka-battery-0:before,
.frka-battery-empty:before {
  content: "\f244";
}
.frka-mouse-pointer:before {
  content: "\f245";
}
.frka-i-cursor:before {
  content: "\f246";
}
.frka-object-group:before {
  content: "\f247";
}
.frka-object-ungroup:before {
  content: "\f248";
}
.frka-sticky-note:before {
  content: "\f249";
}
.frka-sticky-note-o:before {
  content: "\f24a";
}
.frka-cc-jcb:before {
  content: "\f24b";
}
.frka-cc-diners-club:before {
  content: "\f24c";
}
.frka-clone:before {
  content: "\f24d";
}
.frka-balance-scale:before {
  content: "\f24e";
}
.frka-hourglass-o:before {
  content: "\f250";
}
.frka-hourglass-1:before,
.frka-hourglass-start:before {
  content: "\f251";
}
.frka-hourglass-2:before,
.frka-hourglass-half:before {
  content: "\f252";
}
.frka-hourglass-3:before,
.frka-hourglass-end:before {
  content: "\f253";
}
.frka-hourglass:before {
  content: "\f254";
}
.frka-hand-grab-o:before,
.frka-hand-rock-o:before {
  content: "\f255";
}
.frka-hand-stop-o:before,
.frka-hand-paper-o:before {
  content: "\f256";
}
.frka-hand-scissors-o:before {
  content: "\f257";
}
.frka-hand-lizard-o:before {
  content: "\f258";
}
.frka-hand-spock-o:before {
  content: "\f259";
}
.frka-hand-pointer-o:before {
  content: "\f25a";
}
.frka-hand-peace-o:before {
  content: "\f25b";
}
.frka-trademark:before {
  content: "\f25c";
}
.frka-registered:before {
  content: "\f25d";
}
.frka-creative-commons:before {
  content: "\f25e";
}
.frka-gg:before {
  content: "\f260";
}
.frka-gg-circle:before {
  content: "\f261";
}
.frka-tripadvisor:before {
  content: "\f262";
}
.frka-odnoklassniki:before {
  content: "\f263";
}
.frka-odnoklassniki-square:before {
  content: "\f264";
}
.frka-get-pocket:before {
  content: "\f265";
}
.frka-wikipedia-w:before {
  content: "\f266";
}
.frka-safari:before {
  content: "\f267";
}
.frka-chrome:before {
  content: "\f268";
}
.frka-firefox:before {
  content: "\f269";
}
.frka-opera:before {
  content: "\f26a";
}
.frka-internet-explorer:before {
  content: "\f26b";
}
.frka-tv:before,
.frka-television:before {
  content: "\f26c";
}
.frka-contao:before {
  content: "\f26d";
}
.frka-500px:before {
  content: "\f26e";
}
.frka-amazon:before {
  content: "\f270";
}
.frka-calendar-plus-o:before {
  content: "\f271";
}
.frka-calendar-minus-o:before {
  content: "\f272";
}
.frka-calendar-times-o:before {
  content: "\f273";
}
.frka-calendar-check-o:before {
  content: "\f274";
}
.frka-industry:before {
  content: "\f275";
}
.frka-map-pin:before {
  content: "\f276";
}
.frka-map-signs:before {
  content: "\f277";
}
.frka-map-o:before {
  content: "\f278";
}
.frka-map:before {
  content: "\f279";
}
.frka-commenting:before {
  content: "\f27a";
}
.frka-commenting-o:before {
  content: "\f27b";
}
.frka-houzz:before {
  content: "\f27c";
}
.frka-vimeo-v:before,
.frka-vimeo:before {
  content: "\f27d";
}
.frka-black-tie:before {
  content: "\f27e";
}
.frka-fonticons:before {
  content: "\f280";
}
.frka-reddit-alien:before {
  content: "\f281";
}
.frka-edge:before {
  content: "\f282";
}
.frka-credit-card-alt:before {
  content: "\f283";
}
.frka-codiepie:before {
  content: "\f284";
}
.frka-modx:before {
  content: "\f285";
}
.frka-fort-awesome:before {
  content: "\f286";
}
.frka-usb:before {
  content: "\f287";
}
.frka-product-hunt:before {
  content: "\f288";
}
.frka-mixcloud:before {
  content: "\f289";
}
.frka-scribd:before {
  content: "\f28a";
}
.frka-pause-circle:before {
  content: "\f28b";
}
.frka-pause-circle-o:before {
  content: "\f28c";
}
.frka-stop-circle:before {
  content: "\f28d";
}
.frka-stop-circle-o:before {
  content: "\f28e";
}
.frka-shopping-bag:before {
  content: "\f290";
}
.frka-shopping-basket:before {
  content: "\f291";
}
.frka-hashtag:before {
  content: "\f292";
}
.frka-bluetooth:before {
  content: "\f293";
}
.frka-bluetooth-b:before {
  content: "\f294";
}
.frka-percent:before {
  content: "\f295";
}
.frka-gitlab:before {
  content: "\f296";
}
.frka-wpbeginner:before {
  content: "\f297";
}
.frka-wpforms:before {
  content: "\f298";
}
.frka-envira:before {
  content: "\f299";
}
.frka-universal-access:before {
  content: "\f29a";
}
.frka-wheelchair-alt:before {
  content: "\f29b";
}
.frka-question-circle-o:before {
  content: "\f29c";
}
.frka-blind:before {
  content: "\f29d";
}
.frka-audio-description:before {
  content: "\f29e";
}
.frka-phone-volume:before,
.frka-volume-control-phone:before {
  content: "\f2a0";
}
.frka-braille:before {
  content: "\f2a1";
}
.frka-assistive-listening-systems:before {
  content: "\f2a2";
}
.frka-asl-interpreting:before,
.frka-american-sign-language-interpreting:before {
  content: "\f2a3";
}
.frka-deafness:before,
.frka-hard-of-hearing:before,
.frka-deaf:before {
  content: "\f2a4";
}
.frka-glide:before {
  content: "\f2a5";
}
.frka-glide-g:before {
  content: "\f2a6";
}
.frka-signing:before,
.frka-sign-language:before {
  content: "\f2a7";
}
.frka-low-vision:before {
  content: "\f2a8";
}
.frka-viadeo:before {
  content: "\f2a9";
}
.frka-viadeo-square:before {
  content: "\f2aa";
}
.frka-snapchat:before {
  content: "\f2ab";
}
.frka-snapchat-ghost:before {
  content: "\f2ac";
}
.frka-snapchat-square:before {
  content: "\f2ad";
}
.frka-first-order:before {
  content: "\f2b0";
}
.frka-yoast:before {
  content: "\f2b1";
}
.frka-themeisle:before {
  content: "\f2b2";
}
.frka-google-plus-circle:before,
.frka-google-plus-official:before {
  content: "\f2b3";
}
.frka-fa:before,
.frka-font-awesome:before {
  content: "\f2b4";
}
.frka-handshake-o:before {
  content: "\f2b5";
}
.frka-envelope-open:before {
  content: "\f2b6";
}
.frka-envelope-open-o:before {
  content: "\f2b7";
}
.frka-linode:before {
  content: "\f2b8";
}
.frka-address-book:before {
  content: "\f2b9";
}
.frka-address-book-o:before {
  content: "\f2ba";
}
.frka-vcard:before,
.frka-address-card:before {
  content: "\f2bb";
}
.frka-vcard-o:before,
.frka-address-card-o:before {
  content: "\f2bc";
}
.frka-user-circle:before {
  content: "\f2bd";
}
.frka-user-circle-o:before {
  content: "\f2be";
}
.frka-user-o:before {
  content: "\f2c0";
}
.frka-id-badge:before {
  content: "\f2c1";
}
.frka-drivers-license:before,
.frka-id-card:before {
  content: "\f2c2";
}
.frka-drivers-license-o:before,
.frka-id-card-o:before {
  content: "\f2c3";
}
.frka-quora:before {
  content: "\f2c4";
}
.frka-free-code-camp:before {
  content: "\f2c5";
}
.frka-telegram:before {
  content: "\f2c6";
}
.frka-thermometer-4:before,
.frka-thermometer:before,
.frka-thermometer-full:before {
  content: "\f2c7";
}
.frka-thermometer-3:before,
.frka-thermometer-three-quarters:before {
  content: "\f2c8";
}
.frka-thermometer-2:before,
.frka-thermometer-half:before {
  content: "\f2c9";
}
.frka-thermometer-1:before,
.frka-thermometer-quarter:before {
  content: "\f2ca";
}
.frka-thermometer-0:before,
.frka-thermometer-empty:before {
  content: "\f2cb";
}
.frka-shower:before {
  content: "\f2cc";
}
.frka-bathtub:before,
.frka-s15:before,
.frka-bath:before {
  content: "\f2cd";
}
.frka-podcast:before {
  content: "\f2ce";
}
.frka-window-maximize:before {
  content: "\f2d0";
}
.frka-window-minimize:before {
  content: "\f2d1";
}
.frka-window-restore:before {
  content: "\f2d2";
}
.frka-times-rectangle:before,
.frka-window-close:before {
  content: "\f2d3";
}
.frka-times-rectangle-o:before,
.frka-window-close-o:before {
  content: "\f2d4";
}
.frka-bandcamp:before {
  content: "\f2d5";
}
.frka-grav:before {
  content: "\f2d6";
}
.frka-etsy:before {
  content: "\f2d7";
}
.frka-imdb:before {
  content: "\f2d8";
}
.frka-ravelry:before {
  content: "\f2d9";
}
.frka-eercast:before {
  content: "\f2da";
}
.frka-microchip:before {
  content: "\f2db";
}
.frka-snowflake-o:before {
  content: "\f2dc";
}
.frka-superpowers:before {
  content: "\f2dd";
}
.frka-wpexplorer:before {
  content: "\f2de";
}
.frka-meetup:before {
  content: "\f2e0";
}
.frka-mastodon:before {
  content: "\f2e1";
}
.frka-mastodon-alt:before {
  content: "\f2e2";
}
.frka-fork-circle:before,
.frka-fork-awesome:before {
  content: "\f2e3";
}
.frka-peertube:before {
  content: "\f2e4";
}
.frka-diaspora:before {
  content: "\f2e5";
}
.frka-friendica:before {
  content: "\f2e6";
}
.frka-gnu-social:before {
  content: "\f2e7";
}
.frka-liberapay-square:before {
  content: "\f2e8";
}
.frka-liberapay:before {
  content: "\f2e9";
}
.frka-ssb:before,
.frka-scuttlebutt:before {
  content: "\f2ea";
}
.frka-hubzilla:before {
  content: "\f2eb";
}
.frka-social-home:before {
  content: "\f2ec";
}
.frka-artstation:before {
  content: "\f2ed";
}
.frka-discord:before {
  content: "\f2ee";
}
.frka-discord-alt:before {
  content: "\f2ef";
}
.frka-patreon:before {
  content: "\f2f0";
}
.frka-snowdrift:before {
  content: "\f2f1";
}
.frka-activitypub:before {
  content: "\f2f2";
}
.frka-ethereum:before {
  content: "\f2f3";
}
.frka-keybase:before {
  content: "\f2f4";
}
.frka-shaarli:before {
  content: "\f2f5";
}
.frka-shaarli-o:before {
  content: "\f2f6";
}
.frka-cut-key:before,
.frka-key-modern:before {
  content: "\f2f7";
}
.frka-xmpp:before {
  content: "\f2f9";
}
.frka-archive-org:before {
  content: "\f2fc";
}
.frka-freedombox:before {
  content: "\f2fd";
}
.frka-facebook-messenger:before {
  content: "\f2fe";
}
.frka-debian:before {
  content: "\f2ff";
}
.frka-mastodon-square:before {
  content: "\f300";
}
.frka-tipeee:before {
  content: "\f301";
}
.frka-react:before {
  content: "\f302";
}
.frka-dogmazic:before {
  content: "\f303";
}
.frka-zotero:before {
  content: "\f309";
}
.frka-nodejs:before {
  content: "\f308";
}
.frka-nextcloud:before {
  content: "\f306";
}
.frka-nextcloud-square:before {
  content: "\f307";
}
.frka-hackaday:before {
  content: "\f30a";
}
.frka-laravel:before {
  content: "\f30b";
}
.frka-signalapp:before {
  content: "\f30c";
}
.frka-gnupg:before {
  content: "\f30d";
}
.frka-php:before {
  content: "\f30e";
}
.frka-ffmpeg:before {
  content: "\f30f";
}
.frka-joplin:before {
  content: "\f310";
}
.frka-syncthing:before {
  content: "\f311";
}
.frka-inkscape:before {
  content: "\f312";
}
.frka-matrix-org:before {
  content: "\f313";
}
.frka-pixelfed:before {
  content: "\f314";
}
.frka-bootstrap:before {
  content: "\f315";
}
.frka-dev-to:before {
  content: "\f316";
}
.frka-hashnode:before {
  content: "\f317";
}
.frka-jirafeau:before {
  content: "\f318";
}
.frka-emby:before {
  content: "\f319";
}
.frka-wikidata:before {
  content: "\f31a";
}
.frka-gimp:before {
  content: "\f31b";
}
.frka-c:before {
  content: "\f31c";
}
.frka-digitalocean:before {
  content: "\f31d";
}
.frka-att:before {
  content: "\f31e";
}
.frka-gitea:before {
  content: "\f31f";
}
.frka-file-epub:before {
  content: "\f321";
}
.frka-python:before {
  content: "\f322";
}
.frka-archlinux:before {
  content: "\f323";
}
.frka-pleroma:before {
  content: "\f324";
}
.frka-unsplash:before {
  content: "\f325";
}
.frka-hackster:before {
  content: "\f326";
}
.frka-spell-check:before {
  content: "\f327";
}
.frka-moon:before {
  content: "\f328";
}
.frka-sun:before {
  content: "\f329";
}
.frka-f-droid:before {
  content: "\f32a";
}
.frka-biometric:before {
  content: "\f32b";
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
