*
{
  margin: 0px;
  padding: 0px;
}
header
{
  background-color: #DDDDDD;
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 105%;
  height: 201px;
}
.logo_top
{
  width: 20%;
}
nav
{
  height: relative;
  background-color: #666666;
  opacity: 0.95;
}
.main-menu
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-item
{
  display: inline-block;
  position: relative;
  float: left;

  opacity: 0.95;
}
.menu-link
{
  display: block;
  padding: 8px;
  background-color: #666666;
  text-decoration: none;
  color: black;
}
.drop-menu-link
{
  display: inline;
  float: left;
  text-decoration: none;
  color: black;
  display: block;
  padding: 8px;
  border: none;
  cursor: pointer;
}
.drop-menu
{
  position: relative;
  display: inline-block;
  background-color: #666666;
  opacity: 0.95;
  float: left;
}
.sub-menu
{
  top: 30px;
  left: 5px;
  display: none;
  list-style-type: none;
  position: absolute;
  background-color: #d3d3d3;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.sub-menu-link
{
  padding: 12px 16px;
  display: block;
  color: black;
  text-decoration: none;

}
.sub-menu-link:hover
{
  background-color: #f9f9f9;
}
.drop-menu:hover .sub-menu
{
  display: block;
}
.drop-menu:hover .drop-menu-link
{
  background-color: #444444;
  opacity: 0.95;
}
.red
{
  color:red;
}
main
{
  background-color: #DDDDDD;
  height: 700px;
  width: 100%;
}
.h-entry
{
  margin: 15px;
}
.post_index
{
  float: left;
  width: 80%;
}
.post
{
  margin: 15px;
}
#webmentions
{
  margin: 20px;
  height: 40px;
  background-color: red;
}
aside
{
  background-color: #550033;
  height: 100%;
  width: 20%;
  float: right;
}
footer
{
  background-color: purple;
  background-image: url("../images/bg v1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
}
.progress
{
    background-color: purple;
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 4px;
    z-index: 1000;
}
.post-entry
{
	width: 800px;
	height: 250px;
	margin: 10px;
	padding: 5px;
	background-color: silver;
	background-image: url("https://wallpaperaccess.com/full/1971371.jpg");
	background-position: center;
	border: solid;
	border-radius: 20px;
	box-shadow: 7px 7px;
	color: black;
	font-family: monospace;
}
.post-entry:hover, .post-entry:active
{
	animation-name: post-hover;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}
.post-entry a
{
	margin: 5px;
	padding: 15px;
  float: right;
	background-color: purple;
	border: solid;
	border-radius: 30px;
	color: white;
	font-style: bold;
	text-decoration: none;
}
.post-entry:hover a, .post-entry:active a
{
	animation-name: read-more-active;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}
.post-entry:hover a:hover, .post-entry:active a:active
{
	background-color: pink;
}
@keyframes post-hover
{
	100%
	{
		background-color: grey;
		z-index: 2;
		box-shadow: 10px 10px 10px 1px black;
		color: white;
		background-image: linear-gradient(transparent, black), url("https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png"); /* W3C */
		background-repeat: no-repeat;
	}
}
@keyframes read-more-active
{
	100%
	{
		background-color: magenta;
	}
}
