<!DOCTYPE html>
<html>
<!--

UMBRA CULTURA CAFE BLOG STACK (https://blog.cubieserver.de/2018/continuous-blog-deployment-self-hosted-edition/)

* Docker Swarm (https://www.filipeflop.com/blog/docker-swarm-e-cluster-com-raspberry-pi/)
* Gitea
* Drone CI
* MinIO
* Nginx
* Traefik

* ActivityPub
* Webmentions
* IndieAuth
* Micropub

* Hokus CMS
* Matomo
* Libravatar
* Keyoxide

* Matrix/Synapse/Element/Jitsi
* Quire (https://github.com/thegetty/quire/)

* Owncast
* NodeCG + Bot/Bridge

-->
  <head>
    <meta charset="utf-8">
    <meta name="title" content="{{ .Site.Title }}">
    <meta name="description" content="Lotsa oh boy here">
    <meta name="author" content="{{ .Site.Author.name }}">
    <meta name="keywords" content="oh, boy">
    <meta name="rating" content="general" />
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="noarchive">
    <meta name="language" content="Portuguese">
    <meta name="revisit-after" content="15 days">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="{{ .Site.LanguageCode}}" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="refresh" content="15;url=http://www.thechessman.org" />
    <title>{{ .Site.Title }}</title>
    <script src="https://unpkg.com/lunr/lunr.js"> </script>
    <script src="{{ .Site.BaseURL }}js/search.js"> </script>
    <script src="{{ .Site.BaseURL }}js/webmentions.js" async></script>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/fork-awesome.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/all.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style1.css">
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    {{ partial "header.html" . }}
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ partial "footer.html" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ partial "script.html" . }}
  </body>
</html>
