{{ define "main" }}
<main id="main">
  <section class="post_index">
    {{ range .Pages }}
      {{ .Render "summary"}}
    {{ end }}
  </section>
  <aside id="meta">
    <div>
      {{ range .Pages }}
      {{ with .Params.category }}
      <ul id="categorias">
        <h1><span>Categorias</span></h1>
        {{ range . }}
          <li><a href='{{ "categorias" | absURL}}/{{ . | urlize }}'>{{ . }}</a> </li>
        {{ end }}
      </ul>
      {{ end }}
      {{ with .Params.tag }}
      <ul id="tags">
        <h1><span>Tags</span></h1>
        {{ range . }}
          <li> <a href='{{ "tags" | absURL }}/{{ . | urlize }}'>{{ . }}</a> </li>
        {{ end }}
      </ul>
      {{ end }}
      {{ end }}
    </div>
  </aside>
</main>
{{ end }}
