{{ define "main" }}
<div class="progress" id="progress"></div>
<main aria-role="main">
<div class="post_index">
<section class="h-entry">
  <h1 id="title" class="post-title p-name" itemprop="name headline">{{ .Title }}</h1>
  <section>
    <h4><time id="date" class=“dt-published”> {{ .PublishDate.Format "Monday, 02 January 2006 15:04:05" }} <time></h4>
    <span>by</span> <span class=“p-author”>{{ .Params.author | default .Site.Author.name }}</span>
    <h5 id="wordcount"> {{ .WordCount }} Words </h5>
  </section>
  <div>
        <article id="content" class="post-content clearfix e-content" itemprop="articleBody">
           {{ .Content }}
        </article>
        <div>
            {{ with .PrevInSection }}
              <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
            {{ end }}
            {{ with .NextInSection }}
              <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
            {{ end }}
        </div>
  </div>
</section>
<section id="webmentions">
</section>
</div>
<aside id="meta">
  <div>
    {{ with .Params.category }}
    <ul id="categorias">
      <h1><span>Categorias</span></h1>
      {{ range . }}
          <li><a href='{{ "categorias" | absURL}}/{{ . | urlize }}'>{{ . }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
    {{ with .Params.tag }}
    <ul id="tags">
      <h1><span>Tags</span></h1>
      {{ range . }}
        <li><a href='{{ "tags" | absURL }}/{{ . | urlize }}'>{{ . }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</aside>
</main>
{{ end }}
