<article class="post-entry">
  <div class="content-header">
    <h2>{{ .Title }}</a> </h2>
    <div class="post-meta">{{ .Date.Format "Mon, Jan 2, 2006" }} - {{ .FuzzyWordCount }} Words </div>
    <div class="post-author"><strong>Por {{ .Params.author | default .Site.Author.name }}</strong></div>
  </div>
  <p>{{ .Summary }}</p>
  <div class="content-footer">
    <a href='{{ .Permalink }}'><nobr><strong>Read more</strong></nobr></a>
  </div>
</article>
