<footer>
  <div class="h-card vcard">
    <p>
      <a style="text-decoration: none; color: white;" href="{{ .Site.BaseURL }}" class="p-name u-url url author metatag" rel="me">
        <i class="frka frka-user" aria-hidden="true"></i>
        <span>{{ .Site.Author.name }}</span>
      </a>
    </p>
    <p>
      <a style="text-decoration: none; color: white;" class="p-nickname u-email email metatag" rel="me" href="{{ .Site.Author.fediverse }}">
         <i class="frka frka-activitypub" aria-hidden="true"></i>
         <span>Link no Fediverso</span>
      </a>
    </p>
     <img class=“u-photo” src=“img/headshot.png” alt="" />
  </div>
</footer>
