<header>
  <a href="{{.Site.BaseURL}}"><img class="logo_top" src="{{ .Site.BaseURL }}images/logo text.png" alt="{{.Site.Title}}"/></a>
  {{ with .Params.subtitle }}
  <span class="subtitle">{{.}}</span>
  {{ end }}
  {{ partial "nav.html" . }}
</header>
