<nav>
  <ul class="main-menu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li class='drop-menu {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}'>
                    <a class="drop-menu-link" href="#">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                    <ul class="sub-menu">
                        {{ range .Children }}
                            <li class='{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}'>
                                <a class="sub-menu-link" href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </li>
            {{ else }}
                <li class='menu-item {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}'>
                    <a class="menu-link" href="{{ .URL }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
            {{ end }}
        {{ end }}
        <li class='menu-item'>
            <a class="menu-link" href="#" target="_blank">
              <i class='fa fa-circle red'></i>
              <span>Live</span>
            </a>
        </li>
        <li class='menu-item'>
            <a class="menu-link" href="#" target="_blank">
              <i class="frka frka-gitea" aria-hidden="true"></i>
              <span>Repositório</span>
            </a>
        </li>
        <li class='menu-item' style='float: right'>
            <a class="menu-link" href="#" target="_blank">
              <i class="frka frka-rss" aria-hidden="true"></i>
              <span>Feed RSS</span>
            </a>
        </li>
    </ul>
</nav>
