{{ define "main" }}
{{ $paginator := .Paginate ( .Site.RegularPages.GroupBy "Section") }}
    <main aria-role="main">
      <div class="homepage-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </div>
      <section class="post_index">
        {{ range $paginator.PageGroups }}
          {{ if in .Key "artigos" }}
            <h3>{{ .Key }}</h3>
              {{ range first 2 .Pages }}
                {{ .Render "summary"}}
              {{ end }}
          {{ end }}
        {{ end }}
      </section>
            <aside id="meta">
              <div>
            {{ range .Site.RegularPages }}
              {{ with .Params.category }}
                <ul id="categorias">
                  <h1><span>Categorias</span></h1>
                  {{ range . }}
                    <li><a href='{{ "categorias" | absURL}}/{{ . | urlize }}'>{{ . }}</a> </li>
                  {{ end }}
                </ul>
                {{ end }}
                {{ with .Params.tag }}
                <ul id="tags">
                  <h1><span>Tags</span></h1>
                  {{ range . }}
                    <li> <a href='{{ "tags" | absURL }}/{{ . | urlize }}'>{{ . }}</a> </li>
                  {{ end }}
                </ul>
                {{ end }}
            {{ end }}
            </div>
            <div class="latest_notes">
              {{ range $paginator.PageGroups }}
                {{ if in .Key "notas" }}
                <h1><span>Notas do Autor</span></h1>
                  {{ range first 3 .Pages }}
                    <p>{{ .Content }}</p><br>
                  {{ end }}
                {{ end }}
              {{ end }}
            </div>
            </aside>
    </main>
{{ end }}
